html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

#chat-container {
  display: flex;
  flex-grow: 1;
  min-width: 100%;
  height: 80vh;
  border-radius: 10px;
  background: #eef;
}

#side-bar {
  background: #0048aa;
  border-radius: 10px 0 0 10px;
  flex-basis: 275px;
}

#chat-bar {
  background: #999;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  flex-grow: 1;
}

#chat-window {
  flex: 1 1 auto;
  flex-flow: column;
  overflow-y: scroll;
  display: flex;
  margin: 10px 10px 5px 10px;
  flex-direction: column-reverse;
}

#chat-input {
  flex: 1 0 40px;
  margin: 5px;
}
