{% extends "base.html" %} 

{% block title %}QChat{% endblock %} 
{% block header %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/qchat.css") }}">
{% endblock %} 

{% block content %} 
  
{% include "navbar.html" %}


<div id="chat-container">

  <div id="chat-bar">

    <div id="chat-window">

      <div id="chat-messages">
        {% for message in chat_messages %}
        <div class="message-object"> 
          <div class="message-user-profile">
            <a href="/user/{{ message.username }}">
              <img
                class="img-thumbnail img-circle"
                src="{{ message.user.images.image_url_sm }}"
                width="50"
                height="50"
                alt="{{ message.username }}"
              />
              </a>
          </div>
          <div class="message-body"> 
            <div class="message-body-username">
              <a href="/user/{{ message.username }}">
                @{{ message.username }}
              </a>
            </div>
            {{ message.body }}
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

    <div id="chat-input">
      <form role="form" class="form-inline" onsubmit="event.preventDefault();">
        <div class="form-group">
          <input name="message" type="text" class="form-control" id="chat-message-input" placeholder="What's happening?">
          <button id="chat-message-button" class="btn btn-default">Send</button>
        </div>
      </form>
    </div>

  </div>

  <div id="side-bar">
  </div>
    
 </div>

 <script type="text/javascript">
  qChat = {}
  qChat.cursorId = {{ cursor_id }}
</script>
<script
  type="text/javascript"
  src="{{ url_for("static", filename="js/ws.js") }}"
></script> 
  {% block footer %}{% endblock %}
  {% endblock %}
