<!doctype html>
<html>
  <head>
    <title>Websocket example</title>
  </head>
  <body>
    <input type="text" id="message">
    <button>Send</button>
    <ul id="chat-messages">
      {% for message in chat_messages %}
        <li>@{{ message.username }} {{ message.body }}</li>
      {% endfor %}
    </ul>
    <script type="text/javascript">
      qChat = {}
      qChat.cursorId = {{ cursor_id }}
    </script>
    <script
      type="text/javascript"
      src="{{ url_for("static", filename="js/ws.js") }}"
    ></script>
  </body>
</html>
